*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* UTILITIES */
.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.container{
  margin: 0 10%;
  max-width: 1600px;
}

.elements:nth-child(odd){
  background-color: green;
}
.elements:nth-child(even){
  background-color: grey;
}

/* 
  HEADER 
*/

header{
  background-color: blue; /* da cambiare colore */
  width: 100%;
}
nav{
  width: 100%;
  padding-top: 20px;
}

.logo{
 float: left;
}

nav button{
  float: right;
  display: inline-block;
}

nav ul{
  float: left;
  width: calc(100% - 124px - 47px);
  text-align: center;
}

nav ul li{
  display: inline-block;
  text-align: center;
}

/* JUMBOTRON */

.jumbo{
  position: relative;
  text-align: center;
  height: 550px;
  background-color: chartreuse;
}

.jumbo-cont{
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: aqua;
  transform: translate(-50% , -50%);
}

/* 
  MAIN 
*/
main{
  background-color: blueviolet;
}

.elements{
  height: 100%;
  padding: 10% 0;
}
.content{

}

/* elements */
.elements .image{
  width: 610px;
}
.elements .image img{
  max-width: 100%;
}
.elements .text{
  width: 350px;
  padding-top: 35px;
}

/* float even */
.even .image{
  float: left;
}

.even .text{
  float: right;
}

/* float odd */
.odd .image{
  float: right;
}

.odd .text{
  float: left;
}

/* last main element */

.lst-el{
  text-align: center;
  padding-bottom: 30px;

}

.big-image img{
  display: block;
  margin: 0 auto;
}

.bttn-txt{
  background-image: url(../img/stars.svg);
  width: 600px;
  height: 75px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0 auto;
}

.sprinkles{
  width: 100%;
  height: 100%;
  vertical-align: middle;
  padding-top: 50px;
}